<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	
	<property resource="global.properties"/>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<file>${global.log.base}batch.log</file>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${global.log.base}log.%d{yyyy-MM-dd}.%i.batch.log.zip</fileNamePattern>
      		<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
        
        
	    <encoder>  
	      <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>  
	      <charset>UTF-8</charset>
	    </encoder>
	</appender>
	
	<logger name="java.sql" level="info">
		<appender-ref ref="STDOUT"/>
	</logger>
	
 	
<!-- 	<logger name="com.posp" level="debug">
			<appender-ref ref="STDOUT"/>
	</logger>
	<logger name="com.pospserver" level="debug">
			<appender-ref ref="STDOUT"/>
	</logger> -->
	
	<root level="debug">
		<appender-ref ref="FILE"/>
		<appender-ref ref="STDOUT"/>
	</root>
	
</configuration>
